<div class="row">
    <section class="content-header">
        <h1>
            Signals
            <small>list</small>
        </h1>
    </section>

    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
                <tr>
                    <th>pair</th>
                    <th>type</th>
                    <th>longTermAvarage</th>
                    <th>midTermAvarage</th>
                    <th>shortTermAvarage</th>
                    <th>quickTermAvarage</th>
                    <th>longTermMin</th>
                    <th>longTermMax</th>
                    <th>CCI</th>
                    <th>action</th>
                    <th>lastTime</th>
                    <th>lastClosePrice</th>
                    <th>interval</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in mainCtrl.signalsArray">
                        <td>{{item.pair}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.longTermAvarage}}</td>
                        <td>{{item.midTermAvarage}}</td>
                        <td>{{item.shortTermAvarage}}</td>
                        <td>{{item.quickTermAvarage}}</td>
                        <td>{{item.longTermMin}}</td>
                        <td>{{item.longTermMax}}</td>
                        <td>{{item.CCI}}</td>
                        <td>{{item.action}}</td>
                        <td>{{item.lastTime}}</td>
                        <td>{{item.lastClosePrice}}</td>
                        <td>{{item.interval}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>