<div class="row">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Signals</h3>
            <div class="box-tools">

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <label>Search by Pair:
                            <input type="search" class="form-control input-sm" placeholder="BTC" ng-model="search.pair">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover no-margin">
                        <thead>
                            <tr>
                                <th># pair</th>
                                <th>type</th>
                                <th>lastClosePrice</th>
                                <th>Current value</th>
                                <th>ShortTermAvarage</th>
                                <th>longTerm Max/Min</th>
                                <th>CCI</th>
                                <th>lastTime</th>
                                <th>interval</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $parent.mainCtrl.signalArray | filter:search track by $index" ng-click="$parent.mainCtrl.showSignalChart(item)"
                                style="cursor:pointer">
                                <td>{{($index+1) + "." + item.pair}}</td>
                                <td>{{item.type}}</td>
                                <td>{{item.lastClosePrice | number : 8}}</td>
                                <td class="box" ng-class="[{'+':'success', '-':'danger'}[item.change]]" style="width:auto;">
                                    {{item.value | number : 8}} / {{item.change}}%{{item.percentage | number : 2}}
                                    <div class="overlay" ng-show="!item.value">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </td>
                                <td>{{item.shortTermAvarage | number : 8}}</td>
                                <td>{{item.longTermMax | number : 8}} / {{item.longTermMin | number : 8}}</td>
                                <td>{{item.CCI | number : 0}}</td>
                                <td>{{item.lastTime}}</td>
                                <td>{{item.interval}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-signalChart">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-remove"></i>
                    </span>
                </button>
                <h4 class="modal-title">{{$parent.mainCtrl.signalChart.pair}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover no-margin">
                            <thead>
                                <tr>
                                    <th># pair</th>
                                    <th>type</th>
                                    <th>Long/Mid/Short/Quick TermAvarage</th>
                                    <th>longTerm Max/Min</th>
                                    <th>CCI</th>
                                    <th>lastTime</th>
                                    <th>lastClosePrice</th>
                                    <th>interval</th>
                                    <th>value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{$parent.mainCtrl.signalChart.pair}}</td>
                                    <td>{{$parent.mainCtrl.signalChart.type}}</td>
                                    <td>{{$parent.mainCtrl.signalChart.longTermAvarage | number : 8}} / {{$parent.mainCtrl.signalChart.midTermAvarage
                                        | number : 8}} / {{$parent.mainCtrl.signalChart.shortTermAvarage | number : 8}} /
                                        {{$parent.mainCtrl.signalChart.quickTermAvarage | number : 8}}</td>
                                    <td>{{$parent.mainCtrl.signalChart.longTermMax | number : 8}} / {{$parent.mainCtrl.signalChart.longTermMin
                                        | number : 8}}</td>
                                    <td>{{$parent.mainCtrl.signalChart.CCI | number : 1}}</td>
                                    <td>{{$parent.mainCtrl.signalChart.lastTime}}</td>
                                    <td>{{$parent.mainCtrl.signalChart.lastClosePrice | number : 8}}</td>
                                    <td>{{$parent.mainCtrl.signalChart.interval}}</td>
                                    <td>{{$parent.mainCtrl.signalChart.value | number : 8}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <iframe ng-src="{{$parent.mainCtrl.signalChart.url}}" style="width:98%;height:630px;"></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>